body {
    background-color: rgb(182, 200, 216);
}

.library {
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgb(168, 174, 175);
    width: 30%;
    margin: auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.library button {
    width: 100px;
}


.library p {
    text-align: center;
    font-weight: bold;
}

#add-book {
    margin: 10px;
}

#add-book-form {
    width: 200px;

    padding: 50px;
    position: absolute;
    z-index: 999;
    left: 40%;
    top: 20%;
    /* display: none; */
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-image: url(svitok.png);
    background-size: 120% 110%;
    background-position: -30px center;
}

#close-book {
    position: absolute;
    right: 20px;
    top: -20px;
}

#all-books {
    margin: 10px;
    width: 35%;
    height: auto;

    display: flex;
    flex-direction: column;
}

.titleBooks {
    justify-content: center;
    font-weight: bold;
}

.book {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(153, 176, 197);
}

.titlebook {
    font-weight: bold;
}

.shelf {
    height: 150px;
    display: flex;
    justify-content: center;
    background-image: url(books.png);
    background-size: 100% 130%;
}

form p,
form label {
    font-weight: bold;
}

form p {
    text-align: center;
    text-decoration: underline
}