body {
    background-color: rgb(182, 200, 216);
}

.library {
    border: 1px solid black;
    width: 50%;
    margin: auto;
    padding: 5px;
}

.library p {
    text-align: center;
}

#addBook {
    margin: 10px;
}

#addBookForm {
    width: 200px;
    border: 1px solid black;
    padding: 5px;
    position: absolute;
    z-index: 999;
    left: 40%;
    top: 20%;
    display: none;
    flex-direction: column;
    gap: 5px;
}

#formClose {
    align-self: flex-start;
}